@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ae00f3;
    --secondary-color: #131313;
    --third-color: #d2d2d2;
    --dark-gray: #0b0b0b;
    --gray-color: #131313;
    --bg-1: #1b1a1c ;


    /* transitions */
    --transition-02: all 0.2s ease;
    --transition-03: all 0.3s ease;
    --transition-04: all 0.4s ease;
    --transition-05: all 0.5s ease;
}


/* ========== Reusable classes============= */
.main-color {
    color: var(--primary-color);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

.text-align {
    text-align: center;
}

.bold {
    font-weight: 600;
}


body {
    background-color: var(--secondary-color);
}

.header {
    width: 100%;
    /* height: 30px; */
    position: fixed;
    padding: 1vh 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: var(--gray-color);
    height: 9vh;
    font-weight: 600;
}
.header.sticky{
    border-bottom: 1px solid var(--dark-gray) 0.1;
}
#menu-bar{
    font-size: 2.5rem;
    color: var(--third-color);
    display: none;
}
.header img {
    width: 10vw;
    cursor: pointer;
}

.nav-list a {
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 1.5vw;
    text-decoration: none;
    color: var(--third-color);
    transition: var(--transition-03);
    position: relative;
}

.nav-list a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: var(--transition-04);
}

.nav-list a:hover::after {
    width: 100%;
}

.nav-list a:hover,
.nav-list a.active {
    /* display: inline-block; */
    color: var(--primary-color);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 10% 0;
}

.home-content {
    flex-basis: 67%;
}
.home-image{
    flex-basis: 31%;
}

.home-image img {
    width: 30vw;
    margin-right: -20px;
    animation: animateAvatar 3s linear infinite;
}

.home-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--third-color);
}

.home-h3 {
    margin-top: 4vh;
}

.home-content h1 {
    font-size: 4.5rem;
    color: var(--third-color);
    line-height: 8vh;
}

.dev-text {
    font-weight: 600;
}


.social-links a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    margin: 30px 10px 30px 0;
    transition: var(--transition-05);
}

.social-links a:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-6px);
    text-shadow: 0 0 5px var(--third-color);
}

.cv-btn {
    width: 200px !important;
    padding: 0 5px;
    background-color: var(--primary-color) !important;
    color: var(--third-color) !important;
}

@keyframes animateAvatar {

    25% {
        transform: translate(0px, 10px);
    }

    50% {
        transform: translate(10px, 10px);
    }

    75% {
        transform: translate(10px, 0);
    }

}

/* =========== about Section ===================== */
.about {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--third-color);
    padding: 7vh 10% 0;
    background-color: var(--bg-1);
}
.about-heading{
    padding-top: 30px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.right-about {
    background-color: var(--dark-gray);
    width: 55vw;
    border-radius: 10px;
}

.about-img img {
    width: 12vw;
}

.about-img {
    width: 20vw;
    margin: 0px 0 0 18px;
    padding: 20px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-edu {
    width: 20vw;
    margin: 20px 0 0 18px;
    /* padding: 15px 30px 20px 30px; */
    padding: 15px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-text {
    margin: 0px 0 0 5px;
    padding: 18px 18px 0 18px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-text h2 {
    font-size: 1.5rem;
}

.about-keypoints {
    padding: 18px;
    display: flex;
    justify-content:center;
    gap: 1.5vw;
}

.keypoints {
    width: 16vw;
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600 !important;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-04);
}

.keypoints:hover {
    box-shadow: 0 0 5px var(--primary-color);
    transform: translateY(-3px);
    /* text-shadow: 0 0 5px var(--third-color); */
}

/* ============== Skills ==================== */
.skills {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--third-color);
    padding: 50px 10% 0;
    background-color: var(--bg-2);
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.left-skills{
    flex-basis: 69%;
}
.right-skills{
    flex-basis: 29%;
}
.left-box {
    padding: 20px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-box h4 {
    margin-top: -15px;
}

.right-box h4 {
    margin-top: -15px;
}

.right-box {
    padding: 20px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-box-items {
    padding: 10px;
    width: calc(100% - 10px);
    background-color: var(--gray-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition-04);
}
.left-box-items:hover{
    box-shadow: 0 0 5px var(--primary-color);
}

.languages h5 {
    margin: -8px 0 0 -23vw;
}

.languages-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.skill-card {
    padding: 15px;
    border-radius: 15%;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-03);
}

.skill-card:hover {
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    background-color: var(--primary-color);
    text-shadow: 0 0 5px var(--third-color);
}

.right-box-items {
    width: 100%;
    height: 100%;
    background-color: var(--gray-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: var(--transition-03);
}

.right-box-items p {
    font-size: 13px;
}

.right-box-items:hover {
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    background-color: var(--primary-color);

    h3 {
        color: var(--third-color);
        text-shadow: 0 0 1px var(--third-color);
    }
}

/* ================= Services ======================== */
.services {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--third-color);
    padding: 12vh 10% 0;
    background-color: var(--bg-1);
}

.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

.service-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
    max-width: fit-content;
    grid-gap: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8vh;
}

.service-container-item {
    width: 23vw;
    height: 50vh;
    max-height: 50vh;
    background-color: var(--dark-gray);
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: var(--transition-04);
}

.service-container-item i {
    font-size: 2rem;
}

.service-container-item h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    transition: all ease 0.45s;
}

.service-container-item p {
    font-size: 0.9rem;
}

.service-container-item:hover {
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    background-color: var(--primary-color);

    h3 {
        color: var(--third-color);
        text-shadow: 0 0 3px var(--third-color);
    }
}

/* ===================== portfolio ================= */

.portfolio {
    /* margin-top: 10px; */
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--third-color);
    padding: 10vh 10% 0;
}

.portfolio-container {
    /* height: 70vh; */
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* column-gap: 5px; */
    row-gap: 15px;
}
.portfolio-container-items:hover{
    box-shadow: 0 0 8px var(--primary-color);
}
.portfolio-container-items{
    width: 25vw;
    height:34vh;
    padding: 15px 15px;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: var(--transition-05);
}
.portfolio-container-items img{
    width: 20vw;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    transition: var(--transition-03);
}
.portfolio-container-items img:hover{
    transform: translateY(-5px);
}
.portfolio-container-items button{
    width: 20vw;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: var(--transition-03);
   
}
.portfolio-container-items button a{
    text-decoration: none;
    color: var(--third-color);
    font-size: 1rem;
    font-weight: 600;
}
.portfolio-container-items button:hover{
    color: var(--third-color);
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-6px);
    text-shadow: 0 0 5px var(--third-color);
}

/* ===================== contact ================= */

.contact {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--third-color);
    padding: 10vh 10% 0;
    background-color: var(--bg-1);
}
.contact-heading h2{
    text-align: start;
}
.contact-container {
    display: flex;
}

.contact-item1 {
    flex-basis: 35%;
    margin-left: 10px;
    margin-top: 4.5vh;
}

.contact-item2 {
    flex-basis: 64%;
}

.contact-item1 p i {
    color: var(--primary-color);
    font-size: 2.5rem;
}
.social-icons {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    padding: 10px;
    padding-top: 13px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    transition: var(--transition-04);
}
.icon a {
    text-decoration: none;
    color: var(--primary-color);
}

.icon a i {
    font-size: 30px;
}

.icon:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    i{
        color: var(--third-color);
        text-shadow: 0 0 5px var(--third-color);
    }
}
.btn{
    margin-top: 2vh;
}
.btn button{
    width: 225px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: var(--transition-03);
}
.btn a{
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.btn button:hover{
    color: var(--third-color);
    box-shadow: 0 0 10px var(--primary-color);
    transform: translateY(-5px);
    text-shadow: 0 0 5px var(--third-color);
}
.contact-item2 form{
    width: 100%;
    margin-top: 3vh;
    font-weight: bold;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--dark-gray);
    padding: 10px 15px;
    margin: 5px 0px;
    color: var(--primary-color);
    font-size: 13px;
    border-radius: 6px;
}
.btn2{
    background-color: var(--primary-color);
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--third-color);
    font-size: 18px;
    font-weight: 550;
    transition: var(--transition-04);
}
.btn2:hover{
    color: var(--third-color);
    box-shadow: 0 0 5px var(--primary-color);
    transform: translateY(-5px);
    text-shadow: 0 0 5px var(--third-color);
}

/* ----------------Footer------------ */
.footer{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
    color:var(--third-color);
}
.f-btn{
    height: 35px;
    width: 35px ;
    border: 1px solid var(--primary-color);
}

/* #msg{
    color: var(--primary-color);
    margin-top: 20px;
    margin-left: 32vw;
} */
